.reviewContainer{
    width: 100%;
    height: 100%;
    text-align: center;
}
.reviewContainer input{
    margin: 20px 0px;
}
.fontSize{
    font-size: 50px;
}
.reviewContainers{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}
.hoverNow p{
    text-align: left;
}
.hoverNow{
    transition: ease-in-out .5s;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 30px;
}
.hoverNow:hover{
    transform: scale(1.1);
}
.reviewContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}
@media(max-width:850px){
    .reviewContainer{
        grid-template-columns: auto auto;
    }
    .reviewContainers{
        grid-template-columns:  auto auto;
    }
}
@media(max-width:700px){
    .reviewContainer{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .reviewContainer input{
        width: 100%;
    }
    .reviewContainer{
        grid-template-columns: auto;
    }
    .reviewContainers{
        grid-template-columns:  auto;
    }
}