.reviewContainer{
    width: 50%;
    height: 100%;
    text-align: center;
}
.reviewContainer input{
    margin: 20px 0px;
}
.fontSize{
    font-size: 50px;
}
.hoverNow{
    transition: ease-in-out .5s;
}
.hoverNow:hover{
    transform: scale(1.1);
}
.reviewContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}
@media(max-width:800px){
    .reviewContainer{
        grid-template-columns: auto auto;
    }
}
@media(max-width:600px){
    .reviewContainer{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .reviewContainer input{
        width: 100%;
    }
    .reviewContainer{
        grid-template-columns: auto;
    }
}