.projectBox{
    width: 400px;
    height: 500px;
    background-color: antiquewhite;
    box-shadow: 10px 30px 30px grey;
    transition: ease-in-out 0.5s;
    border-radius: 20px; 
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.projectBox:hover{
    transform: rotateY(-25deg);
}
.projectBox img{
    border-radius: 20px;
    width: 100%;
    height: 250px;
}
.projectBox p{
    text-align: left;
    padding: 5px;
}
.projectBox button{
    margin-left: 10px;
    margin-bottom: 5px;
}
.projectImG{
    position: relative;
}
.codeLink{
    position: absolute;
    top: 100px;
    left: 30%;
    
}
.positions{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.projectHomeContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
}
@media(max-width:1000px){
    
    .projectHomeContainer{
        grid-template-columns: auto auto;
    }
}
@media(max-width:700px){
    .projectBox{
        width: 100%;
        height: 550px;
    }
    .projectHomeContainer{
        grid-template-columns:  auto;
    }
    .codeLink{
        left: 20%;
        
    }
}