.projectBox{
    width:380px;
    height: 500px;
    background-color: antiquewhite;
    box-shadow: 0 0 10px rgb(68, 125, 153);
    transition: ease-in-out 0.5s;
    border-radius: 10px; 
    padding-bottom: 30px;
}
.projectBox:hover{
    transform: scale(1.03);
}
.projectBox img{
    border-radius: 10px;
    width: 100%;
    height: 250px;
}
.projectBox p{
    text-align: left;
    padding: 5px;
}
.projectBox button{
    margin-left: 10px;
    margin-bottom: 5px;
}
.projectImG{
    position: relative;
}
.codeLink{
    position: absolute;
    top: 100px;
    left: 26%;
    
}
.projectHomeContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
}
@media(max-width:1000px){
    .projectBox{
        width: 330px;
        height: 580px;
    }
    .projectHomeContainer{
        grid-template-columns: auto auto;
    }
    .codeLink{
        left: 30%;
        
    }
}
@media(max-width:800px){
    .projectBox{
        width: 350px;
        height: 580px;
    }
    .projectHomeContainer{
        grid-template-columns: auto auto;
    }
    .codeLink{
        left: 23%;
        
    }
}
@media(max-width:700px){
    .projectBox{
        width: 100%;
        height: 550px;
    }
    .projectHomeContainer{
        grid-template-columns: auto;
    }
    .codeLink{
        left: 30%;
        
    }
}