.statusContainer{
    width: 100%;
    height: 100%;
    padding: 50px 0px;
}
.imageControl{
    width: 80%;
    height: 80%;
}
.details h5{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.details h2{
    color: rgb(12, 12, 12);
    font-size: 25px;
}
.details{
    width: 100%;
    height: 400px;
    margin-top :40%; 
}
.details Button{
    width: 50px;
    margin: 0px 10px ;
    transition: ease-in-out .5s ;
}
.details Button:hover{
    transform: scale(1.1);
}
.borderLine{
    width: 100px;
    height: 4px;
    background-color: rgb(3, 3, 3);
    margin: 10px auto;
}
.servicesBox{
    width: 100%;
    height: 300px;
    padding: 25x;
    background-color: rgb(240, 239, 238);
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgb(203, 205, 206);
    transition: ease-in-out .5s;
}
.rowContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
}
.servicesBox:hover{
    background-color: rgba(227, 229, 226, 0.603);
    color: rgb(10, 10, 10);
    transform: scale(1.07);

}
.servicesBox Button{
    transition: ease-in-out .5s;
}
.servicesBox p{
    text-align: left;
}
.servicesBox Button:hover{
    background-color: rgb(39, 26, 156);
    transform: scale(1.1);
}
.imageControls{
    width: 75%;
    height: 100%;
    border-radius: 20px;
}
.aboutContainer{
    margin: auto 0px;
}
.facebookContact{
    font-size: 30px;
    color: aliceblue;
    text-decoration: none;
}

.skills{
    width: 100%;
    height: 50%;
    box-shadow: 10px 10px 30px grey;
    padding: 50px 10px;
    background-color: wheat;
    border-radius: 20px;
}
.progressBar{
    width: 70px;
    height: 70px;
}
.headerContainers{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}
@media(max-width:900px){
    .rowContainer{
        grid-template-columns: auto auto;
    }
    .details Button{
        margin: 10px ;
    }
    .imageControl{
        width: 100%;
        height: 90%;
    }
}

@media(max-width:650px){
    .imageControl{
        width: 100%;
        height: 100%;
    }
    .progressBar{
        width: 60px;
        height: 60px;
    }
    .rowContainer{
        grid-template-columns: auto;
    }
    .details Button{
        margin: 5px 5px 5px 0px ;
    }
    .iconsButton a Button{
        margin: 6px;
    }
    .headerContainers{
        grid-template-columns: auto;
    }
}