.headerControlsLink{
    list-style: none;
    padding:6px 10px 10px 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.headerControlsLink:hover{
    background-color: aquamarine;
    border-radius: 10px;
    color: black;
}
.logoControls img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.navbarControls{
    width: 100%;
    justify-content: flex-end;
}
.headerControls{
    display:flex;
    justify-content: space-between;
}
.homeContainer{
    width: 99.9%;
    height: auto;
    background-color: rgb(194, 183, 183);
}
.positionFixed{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}
@media(max-width:600px){
    .logoControls{
        width: 100%;
    }
    .headerControls{
        display: block;
    }
}